
.section.aboutSection {
  margin-top: 5rem;
}

.workItem:not(:first-of-type){
  margin-top: 2rem;
}

.jobHeader,
.projectHeader  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.jobHeader .dates {
  font-size: 1.2rem;
}

.employer,
.projectTitle {
  font-weight: bold;
  font-size: 1.2em;

}

.projectHeader a {
  font-size: 1em;
  font-weight: bold;
}


.role:not(:first-of-type){
  margin-top: 2rem;
}

.roleInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.roleTitle {
  font-weight: bold;
  font-size: 1em;
}

.roleDescription,
.projectDescription {
    margin: 0rem 1rem;  
}

.roleDescription p,
.projectDescription p {
  margin: 0;
}

.roleDescription p:not(:first-child),
.projectDescription p:not(:first-child) {
  margin-top: 0.2rem;
}

.dates {
  font-style: italic;
}

/* TODO: Add these in */
.generalSkills {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.generalSkills .skill {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: var(--accent3);
  padding: 0.5rem 1rem;
  border-radius: var(--corner-radius);
}


@media only screen and (min-width: 640px) {
  .jobHeader {
    flex-direction: row;
    margin-bottom: 0rem;
  }

  .roleInfo {
    flex-direction: row;
    margin-bottom: 0.2rem;
  }
  .roleInfo .dates {
    margin-left: 1rem;
  }
  
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1280px) {

}